<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- 通用的 head fragment -->
    <th:block th:fragment="commonHead(title)">
        <title th:text="${title}">系統名稱</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/common.css}">
    </th:block>
</head>
<body>
    <!-- 通用的 header fragment -->
    <header th:fragment="commonHeader(pageTitle)" class="site-header">
        <div class="header-container">
            <div class="logo-container">
                <h1 th:text="${pageTitle}">系統名稱</h1>
            </div>
        </div>
    </header>
    
    <!-- 登入後的 header fragment (包含登出按鈕) -->
    <header th:fragment="authHeader(pageTitle, username)" class="site-header">
        <div class="header-container">
            <div class="logo-container">
                <h1 th:text="${pageTitle}">系統名稱</h1>
            </div>
            <div class="user-info" th:if="${username != null}">
                <span th:text="${'歡迎, ' + username}">歡迎, 用戶</span>
                <form th:action="@{/perform-logout}" method="post">
                    <button type="submit" class="logout-button">登出</button>
                </form>
            </div>
        </div>
    </header>
    

    <!-- 登入後的 header fragment (包含登出按鈕) -->
    <nav th:fragment="authMenubar(username)" class="menubar">
        <ul class="menu-left">
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/func1}">Func1</a></li>
            <li><a th:href="@{/func2}">Func2</a></li>
            <li><a th:href="@{/func3}">Func3</a></li>
        </ul>
        <ul class="menu-right">
            <li><a th:href="@{/profile}">Profile</a></li>
        </ul>
    </nav>

    <!-- 通用的 footer fragment -->
    <footer th:fragment="nonLoginFooter" class="site-footer">
        <div class="footer-container">
            <p>© 2025 GTCafe - 版權所有</p>
            <p>如有問題，請聯繫：support@gtcafe.com</p>
            <p>Your IP: [<span th:text="${clientIp}"></span>], Backend Host: [<span th:text="${computeNodeHostname}"></span>]</p>
        </div>
    </footer>

    <!-- 通用的 footer fragment -->
    <footer th:fragment="loginFooter(clientIp, computeNodeHostname, sessionId, roles)" class="site-footer">
        <div class="footer-container">
            <p>© 2025 GTCafe - 版權所有</p>
            <p>如有問題，請聯繫：support@gtcafe.com</p>
            <p>Your IP: [<span th:text="${clientIp}"></span>], Backend Host: [<span th:text="${computeNodeHostname}"></span>]</p>
            <p>SessionId: [<span th:text="${sessionId}"></span>], Roles: [<span th:text="${roles}"></span>]</p>
        </div>
    </footer>
</body>
</html>