<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtcafe.asimov.mapper.UserMapper">
    <resultMap id="UserResultMap" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <association property="userDetail" 
                     javaType="UserDetail"
                     select="com.gtcafe.asimov.mapper.UserDetailMapper.findByUserId"
                     column="id"/>
    </resultMap>

    <select id="findUserWithDetailById" resultMap="UserResultMap">
        SELECT * FROM users WHERE id = #{id}
    </select>
</mapper>