<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

  <springProperty scope="context" name="logging.path" source="logging.path"/>
  <springProperty scope="context" name="logging.level" source="logging.level.com.gtcafe.rws.booter"/>


  <appender name="ConsoleJsonLine" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>{ "level":"%level", "class":"%logger{36}", "thread":"%thread", "message": "%message", "requestId": "%X{R-Request-ID}" }%n</pattern>
    </encoder>
  </appender>


  <!-- 错误日志 appender ： 按照每天生成日志文件 -->
  <appender name="ErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <append>true</append>

    <!-- 过滤器，只记录 error 级别的日志 -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
      <!-- 如果命中就禁止这条日志 -->
      <onMatch>DENY</onMatch>
      <!-- 如果没有命中就使用这条规则 -->
      <onMismatch>ACCEPT</onMismatch>
    </filter>

    <!-- 日志名称 -->
    <file>${logging.path}/rws/general-error.log</file>

    <!-- 每天生成一个日志文件，保存30天的日志文件 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--日志文件输出的文件名:按天回滚 daily -->
      <FileNamePattern>${logging.path}/rws/general-error.log.%d{yyyy-MM-dd}</FileNamePattern>
      <!--日志文件保留天数-->
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>

    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
      <!-- 编码 -->
      <charset>UTF-8</charset>
    </encoder>
  </appender>


  <root level="info">
    <appender-ref ref="ErrorAppender" />
  </root>

</configuration>