<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入共用 head -->
    <th:block th:replace="~{fragments/common :: commonHead('Profile')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <!-- 引入帶有登出按鈕的 header -->
    <header th:replace="~{fragments/common :: authHeader('系統首頁', ${username})}"></header>
    <nav th:replace="~{fragments/common :: authMenubar(${username})}"></nav>
    
    <div class="home-container">
        <main class="home-content">
            <div class="welcome-message">
                <h2>Profile</h2>
            </div>
            
        </main>
    </div>
    
    <!-- 引入共用 footer -->
    <footer th:replace="~{fragments/common :: loginFooter(clientIp=${clientIp}, computeNodeHostname=${computeNodeHostname}, sessionId=${sessionId}, roles=${roles})}"></footer>
</body>
</html>