<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 設定 log 檔案儲存路徑 -->
    <!-- <property name="LOG_PATH" value="/var/log/appName" /> -->
    <!-- <property name="LOG_NAME_PATTERN" value="%d{yyyy-MM-dd}.log" /> -->
    
    <!-- 設定 log 格式 -->
    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>

    <!-- 定義 ROOT logger 並輸出到檔案 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- log 檔案位置與命名 -->
        <file>${LOG_NAME_PATTERN}</file>
        
        <!-- 設定日誌滾動策略，設定檔案名稱和滾動規則 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 保留半年內的 log -->
            <fileNamePattern>%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>180</maxHistory>
            <!-- 可選：設定單檔案大小限制 -->
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根 logger 設定 -->
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
