<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 設定 log 檔案儲存路徑 -->
    <property name="LOG_PATH" value="./logs" />

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>{ "timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSS}", "scheme": "%X{Protocol}", "method": "%X{Method}", "uri": "%X{RequestURI}", "clientIp": "%X{ClientIP}", "level":"%level", "message": "%message", "thread":"%thread", "class":"%logger{36}", "requestId": "%X{R-Request-Id}" }%n</pattern> -->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %highlight(%-5level) %green([%thread]) %logger{36}#%M\(%line\) %message%n</pattern>
        </encoder>
    </appender>

    <!-- 定義 ROOT logger 並輸出到檔案 -->
    <appender name="GeneralJsonFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 初始 log 檔案位置，僅用於當前日誌 -->
        <file>${LOG_PATH}/general.log</file>
        <!-- <file>current.log</file> -->
        
        <!-- 設定日誌滾動策略，設定檔案名稱和滾動規則 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天創建新檔案，依據日期命名 -->
            <fileNamePattern>${LOG_PATH}/general.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- <fileNamePattern>%d{yyyy-MM-dd}.log</fileNamePattern> -->
            <!-- 保留半年內的 log -->
            <!-- <maxHistory>180</maxHistory> -->
            <maxHistory>2</maxHistory>
            <!-- 可選：設定單檔案大小限制 -->
            <!-- <totalSizeCap>1GB</totalSizeCap> -->
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>{ "timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSS}", "level": "%level", "thread": "%thread", "class": "%logger", "method": "%M", "message": "%message" }%n</pattern>
        </encoder>
    </appender>

    <!-- Stock:JSON Appender -->
    <appender name="StockJsonFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/crypto.log.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/crypto.%d{yyyy-MM-dd}.log.json</fileNamePattern>
            <maxHistory>180</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        
        <!-- Log as JSON -->
        <encoder>
            <pattern>{ "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "class": "%logger", "thread": "%thread", "level": "%level", "message": "%msg", "capacity": { "remaining": %X{stockRemaining}, "consumed": %X{stockConsumed} } }%n</pattern>
        </encoder>
    </appender>

    <!-- Stock:CSV Appender -->
    <appender name="StockCsvFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/crypto.csv</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/crypto.%d{yyyy-MM-dd}.csv</fileNamePattern>
            <maxHistory>180</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        
        <!-- Log as CSV -->
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX},%logger,%X{stockRemaining},%X{stockConsumed}%n</pattern>
        </encoder>
    </appender>

    <appender name="StockRequestAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/crypto.request.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/crypto.request.%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>180</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        
        <encoder>
            <pattern>{ "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "class": "%logger", "thread": "%thread", "level": "%level", "capacity": { "requestId": "%X{X-Request-Id}", "jmThreadHame": "%X{X-JMeter-Thread-Name}", "consumed": %X{capacity.consumed}, "beforeRemaining": %X{capacity.remaining.before}, "afterRemaining": %X{capacity.remaining.after}, "accepted": %X{capacity.accepted}, "processTime": %X{capacity.processTime}, "returnedCapacity": %X{capacity.returnedCapacity} } }%n</pattern>
        </encoder>
    </appender>


    <appender name="StockConsumerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/crypto.consumer.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/crypto.consumer.%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>180</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        
        <encoder>
            <pattern>{ "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "class": "%logger", "thread": "%thread", "level": "%level", "capacity": { "requestId": "%X{X-Request-Id}", "jmThreadHame": "%X{X-JMeter-Thread-Name}", "consumed": %X{capacity.consumed}, "beforeRemaining": %X{capacity.remaining.before}, "afterRemaining": %X{capacity.remaining.after}, "accepted": %X{capacity.accepted}, "processTime": %X{capacity.processTime}, "returnedCapacity": %X{capacity.returnedCapacity} } }%n</pattern>
        </encoder>
    </appender>

    <appender name="StockSamplingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/crypto.sampling.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/crypto.sampling.%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>180</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        
        <encoder>
            <pattern>{ "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "class": "%logger", "thread": "%thread", "level": "%level", "capacity": %X{capacity.remaining} }%n</pattern>
        </encoder>
    </appender>

    <!-- StockRequest Logger -->
    <logger name="com.gtcafe.asimov.crypto.domain.CryptoService" level="DEBUG" additivity="false">
        <appender-ref ref="StockRequestAppender" />
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <!-- StockConsumer Logger -->
    <logger name="com.gtcafe.asimov.crypto.domain.CryptoConsumer" level="DEBUG" additivity="false">
        <appender-ref ref="StockConsumerAppender" />
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <!-- StockSamplerService Logger -->
    <logger name="com.gtcafe.asimov.crypto.domain.CryptoSamplerService" level="DEBUG" additivity="false">
        <appender-ref ref="StockSamplingAppender" />
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="GeneralJsonFileAppender" />
    </root>
</configuration>
