<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtcafe.asimov.mapper.EmployeeMapper">
    <select id="findByDepartmentId" resultType="Employee">
        SELECT * FROM employees WHERE department_id = #{departmentId}
    </select>
</mapper>